@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

:root{
  --main-bg-colour: #f4f4f4;
  --main-txt-colour: #363635;
  --second-txt-color: #595A4A;
  --main-blue: #1D66B9;
}


*{
  font-family: 'DM Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Nav Bar / Header Section */
header{
  width: 100vw;
  display: flex;
  justify-content: center;
}

.headerMain{
  margin-top: 10px;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerLogo{
  color: var(--main-txt-colour);
  font-weight: 700;
  /* font-size: 34px; */
  font-size: clamp(18px, 2.5vw, 34px);
}

nav {
  display: flex;
  justify-content: space-around;
  width: 20%;
}

nav > a {
  color: var(--main-txt-colour);
  font-size: clamp(11px, 2.5vw, 16px);
  font-weight: 500;
  text-decoration: none;
}

/* Landing Page Section */

main{
  width: 100vw;
  display: flex;
  justify-content: center;
}

.heroContainer{
  margin-top: 200px;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.landingGraphic{
  width: 40%;
  height: auto;
}



/* Responsive */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  nav{
    width: 50%;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  nav{
    width: 40%;
  }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

  nav{
    width: 30%;
  }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}